.container{
  display: flex;
  margin-top: 15px;
}

.formContainer{
  background-color: #FFFFFF;
  padding: 2em;
  border-radius: 5px;
  margin: auto;
  width: 600px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.formContainer > h2{
  margin-bottom: 20px;
  align-self: flex-start;
}

.formContainer > h2::after{
  background-color: #3c357a;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  bottom: 50%;
}

.mainForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.textareaWrapper{
  margin-top: 15px;
  width: 100%;
}

.textareaWrapper > p {
  font-weight: 700;
  padding: 0.5em 0;
}

.textareaInput{
  width: 100%;
  border-width: 3px;
  border-radius: 5px;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  font-family: inherit;
  padding: 1em;
}

.textareaInput:focus{
  outline: none;
}

.submitBtn{
  background: linear-gradient( 356deg, #9932ccb0 0%, #1e008bb8 33%, #9932cca1 100% );
  opacity: 1;
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 18px;
  margin-top: 15px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.submitBtn:hover{
  opacity: .9;
}

.chooseFileBtn{
  background-color: transparent;
  margin-top: 15px;
  padding: 1em;
}